  <!-- Lista en base a los resultados o al mes mas reciente -->

  <!--ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4">
        <ion-card class="custom-card-data">
          <ion-card-header>
            <ion-card-title>Descripción del vehículo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Este es un ejemplo de un ion-card sin sombra y con bordes redondeados.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card class="custom-card-data">
          <ion-card-header>
            <ion-card-title>Datos del conductor</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Este es un ejemplo de un ion-card sin sombra y con bordes redondeados.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card class="custom-card-data">
          <ion-card-header>
            <ion-card-title>Último servicio registrado</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Este es un ejemplo de un ion-card sin sombra y con bordes redondeados.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-card class="custom-card-data">
          <ion-card-header>
            <ion-card-title>Lista de autos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Este es un ejemplo de un ion-card sin sombra y con bordes redondeados.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-card class="custom-card-data">
          <ion-card-header>
            <ion-card-title>Datos del conductor</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Este es un ejemplo de un ion-card sin sombra y con bordes redondeados.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid-->

