
<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <ion-card style="width: 90%; max-width: 400px; padding: 20px;">
      <ion-card-title style="text-align: center; padding-top: 10px;">
        INICIO DE SESIÓN
      </ion-card-title>
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <!-- Email -->
          <ion-item>
            <ion-input
              labelPlacement="floating"
              label="Correo Electrónico"
              type="email"
              formControlName="email"
              placeholder="usuario@email.com"
              required
            ></ion-input>
          </ion-item>
          <ion-note *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
            El correo es obligatorio.
          </ion-note>
          <ion-note *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
            El correo no es válido.
          </ion-note>
          <br />

          <!-- Contraseña -->
          <ion-item>
            <ion-input
              labelPlacement="floating"
              label="Contraseña"
              type="password"
              formControlName="password"
              placeholder="********"
              required
            ></ion-input>
          </ion-item>
          <ion-note *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
            La contraseña es obligatoria.
          </ion-note>
          <ion-note *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
            La contraseña debe tener al menos 6 caracteres.
          </ion-note>
          <br />

          <!-- Botón de Login -->
          <ion-button
            type="submit"
            expand="block"
            fill="solid"
            color="primary"
            [disabled]="loginForm.invalid"
          >
            Iniciar Sesión
          </ion-button>
          <br />

          <!-- Enlace para registro o recuperación de contraseña -->
          
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
