.custom-card { margin: 0 0 20px; }
.custom-card h2 { margin: 20px 0 10px; padding-bottom: 10px; border-bottom: 1px solid var(--autolog-border); color: var(--autolog-text); font-size: 15px; }
.custom-card-table { width: 100%; margin: 0; }
.table-container { overflow-x: auto; }

